
CREATE TABLE Group1
(
    CustomerId2      number(8),
    Surname1         varchar2(17),
    CreditScore1     number(3),
    Gender1          varchar2(6),
    Age1             number(2),
    Tenure1          number(2),
    NumOfProducts1   number(1),
    HasCrCard1       number(1),
    EstimatedSalary1 number(9),
    Exited1          number(1),
    CustomerId11     number(8),
    Balance1         number(9),
    IsActiveMember1  number(1)
);


CREATE TABLE Group2
(
    CustomerId4      number(8),
    Surname3         varchar2(17),
    CreditScore3     number(3),
    Gender3          varchar2(6),
    Age3             number(2),
    Tenure3          number(2),
    NumOfProducts3   number(1),
    HasCrCard3       number(1),
    EstimatedSalary3 number(9),
    Exited3          number(1),
    CustomerId13     number(8),
    Balance3         number(9),
    IsActiveMember3  number(1)
);



CREATE TABLE Group3
(
    CustomerId5      number(8),
    Surname4         varchar2(17),
    CreditScore4     number(3),
    Gender4          varchar2(6),
    Age4             number(2),
    Tenure4          number(2),
    NumOfProducts4   number(1),
    HasCrCard4       number(1),
    EstimatedSalary4 number(9),
    Exited4          number(1),
    CustomerId14     number(8),
    Balance4         number(9),
    IsActiveMember4  number(1)
);
